{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "@babel/react"
  ],
  "env": {
    "development": {
      "plugins": [
        ["@codesee/instrument", {"hosted": true}],
        "@babel/plugin-proposal-class-properties",
        ["@babel/plugin-transform-runtime"],
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        ["@babel/plugin-transform-runtime"],
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ]
      ]
    }
  }
}
